:root {
  --bg-color: #041f1e;
  --marigold: #eca72c;
  --font: "Courier New", monospace, Courier;
  --font-size: 2em;
  --font-color: #f3f3f4;
  --nav-bgcolor: #eca72c;
  --nav-itemhovcolor: #ee5622;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  margin: 60px;
  font-variant: normal;
  font-weight: normal;
  line-height: 3em;
  line-height-step: 1em;
  background-color: var(--bg-color);
  color: var(--font-color);
}
body h1 {
  padding-right: 1em;
  padding-left: 1em;
}

hr.solid {
  border-top: 2px solid white;
  margin-block-start: 0.1em;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--nav-bgcolor);
}
nav.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
nav.navbar ul li {
  position: relative;
}
nav.navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}
nav.navbar ul li ul li {
  clear: both;
  width: 100%;
  margin: 30px;
}
nav.navbar ul li:hover ul {
  visibility: visible;
  opacity: 1;
  position: absolute;
  display: block;
}
nav.navbar ul li:hover li:hover {
  background-color: lightblue;
}
nav.navbar li {
  border-right: 0.1em solid black;
  border-right: 0.1em solid black;
  display: block;
  float: left;
  padding: 0.4rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
nav.navbar li:hover {
  background-color: var(--nav-itemhovcolor);
}
nav.navbar a {
  display: block;
  padding: 0.5em 1em;
  color: var(--font-color);
  text-decoration: none;
  background-color: var(--color-foreground);
  transition: 400ms;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

h5, h4, h3, h2, h1 {
  color: white;
}

button {
  padding: 0.5em 0.75em;
  background-color: var(--bg-color);
  border: 1px solid;
  color: var(--font-color);
  border-radius: 0.5em;
  font-size: var(--font-size);
  transition: 200ms;
}

button:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

button.btn-alert {
  --font-color: red;
}

button.btn-dark {
  --font-color: white;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  padding: 1em;
  font-size: 0.8em;
  border: 3px solid var(--marigold);
  border-radius: 0.3em;
  transition: 300ms;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  /* Your styles here */
  outline: orange;
  border-color: var(--background-color);
  /* Use a custom property! */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.7em;
}

input[type=submit], button[type=submit] {
  align-self: flex-end;
  font-family: --font;
  font-size: 2em;
}

input[type=submit] {
  font-size: 2em;
  padding: 5px 13px;
  font-family: --font;
}

pre {
  font-size: 20px;
  background-color: beige;
  padding: 10px 10px 0px 0px;
}

a {
  margin-block-start: 0em;
  color: white;
  font-family: --font;
}

p {
  margin-block-start: 0em;
  color: white;
  font-family: --font;
}

.selectors > label {
  margin: 1.5em 1em;
  display: block;
}

.checkbox > span {
  padding: 0.5em 4.5em;
  background-color: white;
  align-items: center;
  position: relative;
}

.checkbox > input[type=checkbox] + span::before {
  content: "";
  display: inline-block;
  border: 2px solid white;
  border-radius: 0.2em;
  width: 3.5em;
  height: 1.5em;
  position: absolute;
  background-color: white;
}

.checkbox > input[type=checkbox]:checked + span::before {
  background-color: var(--background-color);
}

.checkbox > input[type=checkbox] + span::after {
  content: "";
  display: block;
  position: absolute;
}

.checkbox > input[type=checkbox]:checked + span::after {
  left: 2.5em;
  background-color: white;
  border-color: white;
}

.radio > span {
  position: relative;
}

.radio > input[type=radio] + span::before {
  content: "";
  position: absolute;
  border: 5px solid white;
}

/*# sourceMappingURL=int.css.map */
