//style for all body elements
body {
    //
    font-family: 'Courier New', monospace, Courier;
    font-size: 4em;
    font-variant: normal;
    font-weight: normal;
    line-height: 3em;
    line-height-step: 1em;
    background-color: black;
    color: white;
    
}